=title
  font-size: 22px
  letter-spacing: 0.250em
  color: $orange
  margin-bottom: 50px
  text-align: center

=sub-title
  font-size: 22px
  line-height: 30px
  color: $orange
=p
  font-size: 14px
  color: $black
  line-height: 25px

=btn
  display: inline-block
  margin: 0 auto
  text-align: center
  font:
    size: 16px
    weight: bold
  color: $white
  border: 2px solid $orange
  padding: 10px 20px
