@import "reset"
@import "var"
@import "mixins"

section
  padding: 50px 0

.title
  +title

.sub-title
  +sub-title

.text
  +p

#hero
  background: url('../images/hero-bg.jpg') center center no-repeat
  background-size: cover
  min-height: 80vh
  padding: 20px 0
  nav
    display: flex
    justify-content: space-between
    align-items: center
    ul
      display: flex
      @media screen and (max-width: 760px)
        display: none
    li
      margin-right: 20px
      a
        color: $white
  h1
    color: $white
    font-size: 65px
    text-align: center
    margin-top: 25vh
  .btn
    text-align: center
    a
      +btn

.bg-img
  background: url('../images/bg.jpg') center center no-repeat
  #about .wrapper
    display: flex
    .about-left
      flex-basis: 40%
      margin-right: 160px
      margin-top: 80px
      h3
        +title
        color: $black
        font-size: 16px
        margin-bottom: 20px
        text-align: left
        span
          display: inline-block
          background-color: $orange
          width: 80px
          height: 6px
          border-radius: 5px
          vertical-align: middle
          margin-right: 30px
      p
        font-size: 16px
      a
        +btn
        color: $orange
        font-style: italic
    .about-right
      flex-basis: 60%
      position: relative
      max-height: 550px
      img
        overflow: hidden
        max-width: 300px
        border: 1px solid $orange
        position: absolute
        box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2)
        border-radius: 0.375rem
        transition: all 0.3s ease
        &:nth-child(1)
          left: 90px
          z-index: 1
        &:nth-child(2)
          z-index: 3
          left: 280px
          top: 210px
        &:nth-child(3)
          z-index: 2
          top: 310px

#news
  background: rgba( $orange, .9 )
  .cardNews
    display: flex
