@import "reset"
@import "var"
@import "mixins"

section
  padding: 50px 20px

.title
  +title

.sub-title
  +sub-title

.text
  +p

.footer-title
  +footer-title

#hero
  background: url('../images/hero-bg.jpg') center center no-repeat
  background-size: cover
  min-height: 80vh
  padding: 20px 0
  nav
    display: flex
    justify-content: space-between
    align-items: center
  #menuToggle
    display: block
    position: relative
    right: 50px
    z-index: 1
    user-select: none
    input
      display: block
      width: 40px
      height: 32px
      position: absolute
      top: -7px
      left: -5px
      cursor: pointer
      opacity: 0
      /* hide this */
      z-index: 2
      /* and place it over the hamburger */
      -webkit-touch-callout: none

    span
      display: block
      width: 33px
      height: 4px
      margin-bottom: 5px
      position: relative
      background: #cdcdcd
      border-radius: 3px
      z-index: 1
      transform-origin: 4px 0px
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease
      &:first-child
        transform-origin: 0% 0%

      &:nth-last-child(2)
        transform-origin: 0% 100%


    input:checked ~ span
      opacity: 1
      transform: rotate(45deg) translate(-2px, -1px)
      background: $orange
      &:nth-last-child(3)
        opacity: 0
        transform: rotate(0deg) scale(0.2, 0.2)

      &:nth-last-child(2)
        opacity: 1
        transform: rotate(-45deg) translate(0, -1px)




  /*
   * Just a quick hamburger
   */

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */

  /*
   * But let's hide the middle one.
   */

  /*
   * Ohyeah and the last one should go the other direction
   */

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */

  #menu
    position: absolute
    width: 300px
    margin: -100px 0 0 -80px
    padding: 50px
    padding-top: 125px
    // background: rgba($white, 0.85)

    list-style-type: none
    -webkit-font-smoothing: antialiased
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%
    transform: translate(42%, 0)
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1)
    a
      color: $black
    li
      padding: 10px 0
      font-size: 22px
      color: $white
      transition: color 0.3s ease
      &:hover
        color: $orange


  /*
   * And let's fade it in from the left
   */

  #menuToggle input:checked ~ ul
    transform: scale(1, 1)
    opacity: 1

    // ul
    //   display: flex
    //   @media screen and (max-width: 760px)
    //     display: none
    // li
    //   margin-right: 20px
    //   a
    //     color: $white
  h1
    color: $white
    font-size: 4.063rem
    text-align: center
    margin-top: 25vh
  .btn
    text-align: center
    a
      +btn

.bg-img
  background: url('../images/bg.jpg') center center no-repeat
  background-size: cover
  #about .wrapper
    display: flex
    .about-left
      flex-basis: 40%
      margin: 80px 40px 80px 0px
      margin-right: 160px
      margin-top: 80px
      h3
        +title
        color: $black
        font-size: 1rem
        margin-bottom: 20px
        text-align: left
        span
          display: inline-block
          background-color: $orange
          width: 80px
          height: 6px
          border-radius: 5px
          vertical-align: middle
          margin-right: 30px
      p
        font-size: 1rem
      a
        +btn
        color: $orange
        font-style: italic
    .about-right
      flex-basis: 60%
      position: relative
      max-height: 550px
      img
        overflow: hidden
        max-width: 350px
        border: 1px solid $orange
        position: absolute
        +box-shadow
        &:nth-child(1)
          left: 90px
          z-index: 1
        &:nth-child(2)
          z-index: 3
          left: 280px
          top: 210px
        &:nth-child(3)
          z-index: 2
          top: 310px

#news
  background: rgba(235, 180, 2, 0.75)
  .wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    position: relative
    max-width: 1300px
    .arrow
      width: 30px
    .arrow-left
      transform: rotate(180deg)
    .title
      flex-basis: 100%
      color: $white
    .cardNews
      display: flex
      flex-basis: 46%
      background: #f3f3f3
      +box-shadow
      .car-desc
        display: flex
        flex-direction: column
        position: relative
        padding: 20px 0px 0px 20px
        .divider
        a
          color: $orange
          margin-top: 40px
          padding: 10px 0
        .divider
          border-top: 1px solid #ebebeb
          position: relative
          left: -20px
          width: 104.5%
          bottom: -36px

#menu
  .type
    ul
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      max-width: 650px
      margin: 0 auto
      margin-bottom: 50px
      .active
        &:after
          content: ""
          display: block
          margin: 0 auto
          border-bottom: 2px solid $orange
          margin-bottom: 5px
          width: 80%
      a
        font-size: 1.125rem
        color: $black
        margin-left: 20px
  .dishes-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .dishes
      flex-basis: 40%
      margin-bottom: 30px
      h5
        font-size: 1.125rem
        color: $orange
        margin-bottom: 20px
      .price
        font-size: 0.875rem
        color: $black
        font-weight: bold

#gallery
  .gallery-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    .tumb-img
      flex-basis: 24%
      height: 250px
      border: 2px solid $white
      overflow: hidden
      position: relative
      background: null

      &:hover
        .tumb-overlay
          background-color: rgba($orange, 0.8)
          display: flex
          +change-color
        img
          +pulse
      img
        height: 100%
        border-radius: 4px
      .tumb-overlay
        position: absolute
        justify-content: center
        align-items: center
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: none
        img
          height: 30px

#contact
  padding: 50px 0 0
  position: relative
  #map
    width: 100%
    height: 600px
  .contact-info
    display: inline-block
    position: absolute
    top: 100px
    padding: 50px 100px 150px 40px
    background: rgba($orange, 0.95)
    left: 50%
    +box-shadow
    h5
      color: $white
      font:
        size: 18px
        weight: bold
      margin-bottom: 50px
    p
      font-size: 1rem
      line-height: 26px
      color: $white
    .btn
      margin-top: 50px
      a
        +btn
        color: $white
        border: 2px solid $white
        font-style: italic
//
// #contact
//   background: #eaeaea
//   .title
//     text-align: right
//   .contact-container
//     display: flex
//     justify-content: flex-end
//     position: relative
//     #map
//       flex-basis: 75%
//       height: 450px
//     .contact-info
//       position: absolute
//       z-index: 1
//       padding: 50px 100px 150px 40px
//       background: rgba($orange, 0.95)
//       left: 0
//       margin-top: -70px
//       h5
//         color: $white
//         font:
//           size: 18px
//           weight: bold
//           margin-bottom: 50px
//       p
//         font-size: 16px
//         line-height: 26px
//         color: $white
//       .btn
//         margin-top: 50px
//         a
//           +btn
//           color: $white
//           border: 2px solid $white
//           font-style: italic

footer
  background: #24252f
  color: $soft-white
  font-size: 0.75rem
  line-height: 18px
  padding: 20px
  .wrapper
    display: flex
    justify-content: space-between
    .site-map
      ul
        list-style-type: disc
      a
        color: $soft-white
        line-height: 25px
    .social
      img
        margin-right: 10px
.copyright
  font-size: 0.625rem
  color: $soft-white
  padding-top: 20px
  padding-bottom: 5px
  background: #282934
  text-align: center

@media (max-width: 1260px)
  #hero h1
    font-size: 3.063rem
  #menu .dishes-container
    justify-content: space-around
  .bg-img #about .wrapper .about-right img:nth-child(2)
    display: none
  .tumb-img
    flex-basis: 32%

@media screen and (max-width: 960px)
  .bg-img #about .wrapper .about-right
    display: none
  .bg-img #about .wrapper .about-left
    margin: 0
    flex-basis: 100%
    text-align: center
  #news .wrapper
    justify-content: center
  #news .wrapper .cardNews
    flex-basis: 100%
    margin: 10px auto
  #news .wrapper  .arrow
    display: none
  #gallery .gallery-container .tumb-img
    flex-basis: 31%
  #contact .contact-info
    width: 50%
    left: 18%
  #menu .dishes-container .dishes
    flex-basis: 100%

@media screen and (max-width: 760px)
  #gallery .gallery-container .tumb-img
    flex-basis: 48%

@media screen and (max-width: 440px)
  #hero h1
    font-size: 2.2rem
  #contact .contact-info
    padding: 20px 40px 40px 20px
    top: 135px
  footer .site-map
    display: none
  #news .wrapper .cardNews
    display: flex
    flex-direction: column
