/*
Error: The line was indented 3 levels deeper than the previous line.
        on line 251 of C:\Users\operator\Desktop\side work\resturatn\code\Restaurant\css\styles.sass

246:     ul
247:       display: flex
248:       justify-content: space-around
249: <<<<<<< HEAD
250: =======
251:       flex-wrap: wrap
252: >>>>>>> 0280bdf5e31b19e938bdba76da00bd1931cc74f0
253:       max-width: 650px
254:       margin: 0 auto
255:       margin-bottom: 50px
256:       .active

Backtrace:
C:\Users\operator\Desktop\side work\resturatn\code\Restaurant\css\styles.sass:251
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:520:in `tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 3 levels deeper than the previous line.\A         on line 251 of C:\Users\operator\Desktop\side work\resturatn\code\Restaurant\css\styles.sass\A \A 246:     ul\A 247:       display: flex\A 248:       justify-content: space-around\A 249: <<<<<<< HEAD\A 250: =======\A 251:       flex-wrap: wrap\A 252: >>>>>>> 0280bdf5e31b19e938bdba76da00bd1931cc74f0\A 253:       max-width: 650px\A 254:       margin: 0 auto\A 255:       margin-bottom: 50px\A 256:       .active"; }
